/* Remove round edges at top corners of nav bar */
.navbar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Nav bar elements */
.navbar-nav {
  padding-right: 50px;
}

/* Container for all content below navbar, above footer */
.container {
  width: 750px;
  padding: 0;
}

.notification-area {
  width: 100%;
}

#test-alert {
  opacity: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Left column /w list of jobs */
.column {
  width: 73%;
  float: left;
}

.no-job-text {
  text-align: center;
  color: #ccc;
  font-style: italic;
  opacity: 1;
}

/* Job elements in job-list */
div.job {
  padding: 10px;
}
/* Job thumbnails */
.job > img {
  width: 100px;
  height: 100px;
}
.job > table {
  border: 0px;
  width: 100%;
}
.job-body {
  width: 400px;
  height: 100px;
}
.job-name {
  font-weight: bold;
}
.job-num {
  text-align:right;
  font-style:italic;
  color: #ccc;
}
.job-submitdatetime {
  color: #333;
  font-style: italic;
}
.job-buttons {
  text-align: right;
}

.add-job {
  text-align: center;
  font-size: 20px;
  color: #ccc;
  transition: all 0.3s ease 0s;
}
.add-job:hover {
  text-align: center;
  font-size: 20px;
  color: #444;
  transition: all 0.3s ease 0s;
}
/* Newly added job, for fade-in animation */
div.new-job {
  opacity: 0;
  margin-top: 50px;
}

/* Sidebar with panels */
.sidebar {
  width: 25%;
  float: left;
  margin-left: 2%;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
  width: 100%;
}
