<!doctype html>
<html>
<head>
    <title>Dream Team CV</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Dream Team CV Pipeline</h1>
        <h2>Time to make some sweet ass videos.</h2>
        <p>Login or Register with:</p>

          <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
          <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
          <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
          or <a href="/signup"><button type="button" class="btn btn-secondary">create an account</button></a>
          <br>
          <br>
          <p>Already have an account? <a href="/login"><button type="button" class="btn btn-secondary">Login</button></a>
    </div>
    <div class="text-center">
      <p>Dream Team CS 160</p>
    </div>
</div>
</body>
</html>
